.tarjeta__elemento{
    background: #fff;
    min-height: 600px;
    overflow: hidden;
    padding: 2em;
    display: grid;
    box-shadow: 0 0 32px -16px rgb(0,0,0, .5);
    border-radius: 3%;

    grid-template-rows: [te-row-start] 1fr [te-row-mid] 1fr [te-row-end] 1fr;
}


.tarjeta__figure{
    grid-row: te-row-start/te-row-mid;
    display: grid;
    height: 50%;  
    grid-template-rows: [tf-row-start] 1fr [tf-row-mid] 1fr [tf-row-end] 1fr;
}

.tarjeta__img{
    width:100%;
    height: 100%;
    display: block;
    grid-row: tf-row-end;
}

.tarjeta__parrafo{
    padding: .5em 0;
    text-align: center;
}

.btn-continuar{
    display: inline-block;
    background: #1E8449;
    padding: 15px 30px;
    margin-top: 1em;
    text-decoration: none;
    color: #fff;
    margin-top: auto;
    grid-row: te-row-end;
}
.tarjeta__texto h2{
    text-align: center;
    color: #1E8449;
}    

.tarjeta__texto{
    grid-row: te-row-mid/te-row-end;
}