#main {
    margin: auto;
    height: 200px;
    width: 80%px;
    background-color: rgb(228, 171, 0);
    position: relative;
    overflow: hidden;
    justify-content: space-between;
}
#main:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 5px solid white;
    background: black;
    width: 100%;
    transform: translateY(-50%);
}
#main div {
    width: 50%;
    height: 100%;
    border-radius: 100%;
    background-color: #FFF;
    position: relative;
    margin: 0 auto;
    background-image: url("images.jpeg");
    background-size: cover;
}