.galeria{
    width: 90%;
    
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0;
}

.galeria__titulo{
    font-size: 2vw;
    margin-bottom: 1vw;
}


.galeria__contenedor{
    display: grid;
    gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.galeria__img{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
.caja{
    background-color: pink;
}