footer {
    text-align: center;
    margin-top: 2rem;
    background-color: var(--color-3);
    border-radius: 10px;
}

    $redes-sociales: correo facebook instagram linkedin twitter;

.redes-sociales {
    display: flex;
    justify-content: space-around;
    @each $red in $redes-sociales {
        .icono-#{$red} { 
            background-image: url("../scss/imgs/#{$red}.png");
            width: map-get($tamanios-iconos-horizontal , 'medio' );
            height: map-get($tamanios-iconos-vertical , 'medio' );
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: inline-block;
                
        }
    }
}

