#centro {
    margin: auto;
    height: 32.5vw;
    width: 32.5vw;
    border-radius: 100%;
    background-color: blue;
    position: relative;
    justify-content: space-between;
    background-image: url("./images.jpeg");
    background-size: cover;
    margin-bottom: 20px;
  }
  
  #centro span {
    display: inline-block;
    vertical-align: middle;
  }