.main:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 5px solid white;
    background: none;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;

}
.main{
    width: 300%;
    height: 100%;
    position: relative;
    right: 100%;
    background-color: var(--color-2);
    margin: 0 auto;
    display: flex;
    z-index: -2;
}