.main:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 5px solid (var(--color-4));
    background: none;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;

}
.main{
    width: 300%;
    height: 100%;
    position: relative;
    right: 100%;
    background-color: var(--color-2);
    margin: 0 auto;
    z-index: -2;
    border-radius: 10px;
}

.main > div{
    font-size: 3vw;    
    line-height: 11vw;
    position: relative;    
    width: 50%;
    height: 50%;
    float: left;
}

