$colores-claros : (
    #ffd200,
    #ffb400,
    #ff9500,
    #ff6800,
    #333333
);

$colores-oscuros : (
    #0000ff,
    #00a1ff,        
    #0051ff,
    #5300ff,
    #ffffff
);

$tamanios-iconos-horizontal : (
 'pequenio':40px, 
 'medio':60px,
 'grande':100px
);

$tamanios-iconos-vertical : (
 'pequenio':40px, 
 'medio':60px,
 'grande':100px
);

$debug: true;

@import "partials/_debug.scss";
@import "partials/_boton.scss";
@import "partials/_centro.scss";
@import "partials/_top.scss";
@import "partials/_main.scss";
@import "partials/_bottom.scss";
@import "partials/lats.scss";


body{
    background-color: var(--color-1);
    color: var(--color-5);
    font-size: 16px;
    padding: 1rem;
    background-color: var(--color-1);
    margin: 0 auto;
}

:root {
    .tema-claro{
    --color-1: #{nth($colores-claros,1)};
    --color-2: #{nth($colores-claros,2)};
    --color-3: #{nth($colores-claros,3)};
    --color-4: #{nth($colores-claros,4)};
    --color-5: #{nth($colores-claros,5)};
    }
    .tema-oscuro{
      --color-1:  #{nth($colores-oscuros,1)};
      --color-2:  #{nth($colores-oscuros,2)};
      --color-3:  #{nth($colores-oscuros,3)};
      --color-4: #{nth($colores-oscuros,4)};
      --color-5: #{nth($colores-oscuros,5)};
    }
  } 
